* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.background {
    background: linear-gradient(to bottom, #b4d0e7 90%, white 10%)
}
.jumbo-container {
    width: 80%;
    margin: 0 auto;
    padding-top: 70px;
}
.main-container {
    width: 70%;
    margin: 0 auto;
    padding: 40px 0;
}
.left {
    float: left;
}
.right {
    float: right;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h2 {
    font-size: 30px;
}
h4 {
    font-size: 12px;
    padding: 15px 0;
}
p {
    font-size: 14px;
}
.p-20 {
    padding: 20px;
}
.mb-20 {
    margin-bottom: 20px;
}


/* debug */
.debug .jumbo-text, .jumbo-img, .jumbo-title  {
    border: 1px solid black;
}
.debug #plan-section {
    height: 900px;
    /* background-color: lightpink; */
}
.debug .main-container {
    height: 900px;
    /* background-color: lightseagreen; */
}
.debug .main-container > div {
    /* background-color: lightyellow; */
    border: 1px solid black;
}
/* .debug .plan-top {
    height: 200px;
} */
.debug .plan-middle {
    height: 600px;
}
/* .debug .plan-bottom {
    height: 200px;
} */
.debug .col{
    min-height: 600px;
    /* background-color: mediumpurple; */
    border: 1px solid black;
}





/* btn */
.btn {
    font-size: 12px;
    font-weight: 500;
    padding: 5px 15px;
}
.btn:hover {
    text-decoration: none;
}
.blue {
    background-color: #0061ff;
    color: white;
}


/* header */
header {
    height: 65px;
    line-height: 65px;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
nav .left  img {
    width: 100px;
    vertical-align: middle;
}
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 0 15px;
}
nav ul a {
    font-size: 14px;
    color: black;
}



/* jumbotron */
#jumbotron {
    height: 700px;
    padding-top: 65px;
}
.jumbo-text {
    width: 38%;
}
.jumbo-title {
    margin-bottom: 50px;
}
.jumbo-img {
    width: 60%;
}
.jumbo-img img {
    width: 100%;
}
.jumbo-title h1 {
    font-size: 55px;
}
.jumbo-text p {
    padding-bottom: 30px;
}
.jumbo-btn {
    padding-bottom: 15px;
}
.arrow-down i {
    font-size: 30px;
}



/* main plan section*/
.plan-top span {
    font-size: 14px;
}
.plan-middle .col{
    width: calc(100% / 3 - 20px);
}
.plan-middle .col.md {
    margin: 0 30px;
}
.plan-bottom .main-btn {
    position: absolute;
    top: 20px;
    right: 20px;
}
.plan-bottom .up {
    text-align: center;
    border: 1px solid gray;
}
.plan-bottom .down {
    position: relative;
    border: 1px solid gray;
}


